@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*navbar starts here*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #dadce0;
    padding:8px;
    color: #5f6360;
}

.hover:hover{
    background: #f1f3f4;
    color: black;
    border-radius: 50%;
    cursor: pointer; 
}

.tooltip{
    position: relative;
}

.tooltip-text{
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 0.78rem;
    background: #323232;
    color: white;
    opacity: 80%;
    padding: 5px;
    white-space: nowrap;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

.material-icons {
    padding: 10px;
}

.material-icons menu{
    margin-left: 4px;
}

.logo-area{
    display: flex;
    align-items: center;

}

.logo-text{
    font-size: 1.5rem;
}
input:focus{
    outline: none;
}

.search-area{
    display: flex;
    background: #f1f3f4;
    width: 692px;
    height: 48px;
    border-radius: 8px;
    align-items: center;
}

.search-area input{
    background: #f1f3f4;
    border: none;
    height: 100%;
    width: 95%;
    font-size: 1rem;
    margin-left: 10px;
}
.search-area span{
    margin-left: 10px;
}

.setting-area{
    display: flex;
}

.profile-action-area{
    display: flex;
}

/*navbar ends here*/

/*main section starts here*/

/*sidebar*/

.sidebar{
    position: fixed;
    left: 0;
    top: 64px;
    color:#5f6368;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 80px;
    overflow-x: hidden;
}

.active{
    background: #fef0c3;
    border-radius: 50%;
    color: black;
}

.sidebar-items{
    padding: 3px 0;
    display: flex;
    align-items: center;
}

.sidebar-items .sidebar-text{
    color: #202124;
    margin-left: 20px;
    font-size: .875rem;
    font-weight: 500;
    width: 250px;
}
.sidebar-items:first-child{
    margin-top: 5px;

}

.form-container{
    max-width: 598px;
    margin: 40px auto;
    align-items: center;
    border: #a1a2a2 1px solid;
    border-radius: 8px;
}

form{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    height: 100%;
    padding: 10px;
}

.form-container .note-title{
    border: none;
    font-size: 1rem;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    padding-left: 10px;
}

.form-container .note-text{
    border: none;
    font-size: 1rem;
    height: 100%;
    margin-left: 10px;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

.form-actions {
    display: flex;
}

.active-form .form-actions .icons{
    display: flex;
    color: #dadce0;
}

.active-form {
    display: none;
}

.small-icons{
    color: black;
    font-size: 1rem;
}

.active-form .form-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.active-form form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.close-btn{
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.notes{
    display: flex;
    justify-content: center;
    
}

.note{
    background: white;
    width: 240px;
    height: 140px;
    border: #a1a2a2 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.check-circle{
    position: absolute;
    left: -15px;
    top: -15px;
}

.note .title{
    width: 100%;
    margin: 10px;
}

.note .text{
    width: 100%;
    margin:15px 10px;
}

.note .note-footer{
    display: flex;
    margin-top: 30px;
}

.note-footer .material-icons{
    color: #5f6360;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
  
  .modal-content {
    width: 589px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

